<!DOCTYPE html>
<html lang="en">

<head>
    <title>Filecoin Dataset Index</title>
    {# Load the tag library #}
    {% load django_bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <h1>Filecoin Dataset Index</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
    </ul>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>      
</body>

</html>